<section class="product_banner">
    <div class=".container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <img src="/images/992-carrera-GTS-headbanner.jpg" alt="Car Banner" class="img-fluid">
            </div>
            <div class="banner__text col-12 col-md-6">
                <h1>911 CARRERA GTS</h1>
                <p>Từ 9.630.000.000 VND • 480 PS (353 kW) • 3.2 Giây</p>
            </div>
        </div>
    </div>
</section>


<!-- Car Specifications -->
<section class="specifications">
    <div class="container">
        <div class="row">
            <div class="product_details col-md-12">
                <h2>THÔNG SỐ KỸ THUẬT</h2>
            </div>
            <div class="col-12 col-md-6">
                <img src="../images/992_cerrera_GTS_details.png" alt="Car Exterior" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <table class="table specifications-table">
                    <tr>
                        <td class="detail">Công suất</td>
                        <td class="info">480 PS (353 kW)</td>
                    </tr>
                    <tr>
                        <td class="detail">Mô-men xoắn cực đại</td>
                        <td class="info">570 Nm</td>
                    </tr>
                    <tr>
                        <td class="detail">Tăng tốc từ 0 - 100 km/giờ</td>
                        <td class="info">3.2 giây</td>
                    </tr>
                    <tr>
                        <td class="detail">Tốc độ tối đa</td>
                        <td class="info">311 km/giờ</td>
                    </tr>
                    <tr>
                        <td class="detail">Mức tiêu thụ kết hợp</td>
                        <td class="info"></td>
                    </tr>
                    <tr>
                        <td class="detail">Lượng khí thải CO2</td>
                        <td class="info"></td>
                    </tr>
                    <tr>
                        <td class="detail">Giá tiêu chuẩn</td>
                        <td class="info">9.630.000.000 VND*</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>